<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в аптечную систему</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <style>
        .container-wrapper {
            width: 100%;
            max-width: 1300px;
            margin: 4rem auto auto;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group input {
            width: 300px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container-wrapper">
    <blockquote class="blockquote text-center">
        <h1>Аптечная система</h1>
        <h2 class="mt-5">Вход</h2>
        <div class="container">
            <form class="form-group mt-4" method="post" th:action="@{/login}">
                <div class="mb-3 form-group">
                    <label for="name">Имя пользователя:</label>
                    <input class="form-control" id="name" name="name" type="text" required/>
                </div>
                <div class="mb-3 form-group">
                    <label for="username">Ник пользователя:</label>
                    <input class="form-control" id="username" name="username" type="text" required/>
                </div>
                <div class="mb-3 form-group">
                    <label for="password">Пароль:</label>
                    <input class="form-control" id="password" name="password" type="password" required/>
                </div>
                <button class="btn btn-primary" type="submit">Войти</button>
            </form>
        </div>
        <p class="mt-3">Нет аккаунта? <a href="/register" class="btn btn-outline-primary">Зарегистрироваться</a></p>
    </blockquote>
</div>
</body>
</html>


